body {
    font-family: 'H', 'Trebuchet MS', Helvetica;
}


.container {
    width: 98%;
    margin: 100px auto 0;
    display: flex;
}

.todo_wrapper {
    width: 50%;
    background-color: #DADADA;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title h1 {
    color: #515A5A;
    font-size: 34px;
    border-bottom: 1px solid  #F1F4F7;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.add-item {
    display: inline-block;
}


#description {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid;
    color: black;
    border-radius: 15px;
}

.error {
    border: 2px solid #D8000C !important;
    box-shadow: 0 6px 10px 0 rgba(255,148,148, 0.6), 0 8px 22px 0 rgba(255,148,148, 0.19);
}

#description:focus{
    outline:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit {
    width: 200px;
    padding: 20px 50px;
    background-color: rgba(0,128,0, .5);
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
}

#submit:hover{
    background-color: rgba(0,128,0, 1);
}

#tasks-wrapper {
    color: #515A5A;
    font-size: 20px;
    margin: 20px 20px;

}

.items-wrapper {
    display: flex;
    border-bottom: 1px solid  #F1F4F7;
    margin-bottom: 7px;
    padding: 5px;
    height: 50px;
}

.items-wrapper:hover {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
}

.checkbox-wrapper {
    width: 8%;
    text-align: center;
    display: inline-block;
    line-height: 55px;
    cursor: pointer;
}


.check-completed {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.description {
    width: 84%;
    text-align: left;
    display: inline-block;
    line-height: 50px;
}

