<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}?{{time}}">
    <title>home</title>
    <script type="module" defer src="{{ url_for("static", filename="script.js") }}?{{time}}"></script>
</head>
<body>
    <div class="container">
        <div class="task-list-wrapper"></div>

        <div class="todo_wrapper">
            <div class="header">
                <div class="title">
                    <h1>TO DO</h1>
                </div>
                <div class="new-todo">
                    <form id="add-item-form" class="add-item">
                        <input type="text" id="description" placeholder="Enter your task..." required>
                        <button type="submit" id="submit">Add Task</button>
                    </form>
                </div>
            </div>

            <div class="search"></div>

            <div class="tasks">
                <ul id="tasks-list">
                    {% for item in data %}
                        <li>{{ item["description"] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>